body {
  margin: 1rem 3rem;
}

p {
  margin-bottom: 1.5rem;
}

p.sc-link {
  text-align: center;
  margin-bottom: 0rem;
}

span.pli-lang,
span.eng-lang {
  display: block;
}

p span.pli-lang {
  color: gray;
  font-family: sans-serif;
  font-size: 0.9rem;
}

p span.pli-lang,
h1 span.pli-lang,
h2 span.pli-lang,
h3 span.pli-lang,
h4 span.pli-lang,
h5 span.pli-lang {
  color: #5a5a5a;
  font-family: sans-serif;
}

span.eng-lang {
  margin-bottom: 0.4rem;
}

header ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

header ul li {
  text-align: center;
  color: #5a5a5a;
}

@media only screen and (max-width: 975px) {
  body {
    margin: 1rem 0.5rem;
  }
}
